.container {
  background-color: #151515;
  height: 100vh;
  width: 100vw;
}

.mainRow {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.recordePanel {
  /* border-right: 3px solid white; */
  background-color: #252525;
  border-radius: 0.7rem;
  margin: 1rem 0 1rem 1rem;
  width: 30vw;
}
